{% extends 'base.html' %}

{% block head %}
   <title>Registration page</title>



   <h1 class="display-4 text-center styled-heading">Simple Task Manager Demo</h1>




{%  endblock %}




{% block body %}

<br>
<div class="notification-box" id="notificationBox">
   <i><b><center><small>Please create your login credentials</small></center></b></i>
</div>

<script>
   function showNotification() {
       var notificationBox = document.getElementById('notificationBox');
       notificationBox.classList.add('show');
       setTimeout(function() {
           notificationBox.classList.remove('show');
       }, 3000); // Hide after 3 seconds
   }

   // Call showNotification when the page loads
   window.onload = function() {
       showNotification();
   }
</script>

<br>

   <form style="text-align: center;" action="/register/" method="POST">
       
       <div class="container">
         <div class="row justify-content-center" >
            <div class="col-2 ">
               <label for="username" class="mb-0">Username</label>
               <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  placeholder="Enter username"
               />
               <br>
               <label for="email" class="mb-0">E-mail</label>
               <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Enter email"
               />
               <br>
               <label for="password" class="mb-0">Password</label>
               <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Enter password"
               />
            </div>
         </div>
      </div>
      
      <button type="submit" class="btn btn-primary mt-3">Register</button>

   </form>

{% endblock %}